<configuration debug="true">

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>meetup.log</file>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSSXXX} [%level] %msg [%logger] [%thread] [%file:%line]%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>
